body {
    font-family: 'Oswald', Quicksand;
    font-size: 12px;
}

header {
    background-color: grey;
    text-align:center;
    padding: .5rem;
    color: white;
}

header > img {
    width: 150px;
    height: auto;
    vertical-align: middle;
}

.headertext {
    display: inline-block;
    vertical-align: middle;
}

.headertext h1 {
    font-size: 3rem;
}

.subheading {
    font-size: 1.1rem;
    color: 
    font-style: italic;
}

.currentconditions {
    display: inline-block;
    margin: 1rem 0 1rem 5 rem;
    padding: 1.2rem;
    vertical-align: middle;
    color: white;
    background-color: grey;
    border: 1pt solid darkgrey;
    font-size: 1.1rem;
}

.currentconditions img {
    width: 100px;
    height: auto;
}
